@font-face {
    font-family: 'SplatRegular';
    src: url('/css/Splatfont2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
} 
canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 300px;
    margin-top: 10px;
}
h3, h4 {
    padding: 0;
    margin: auto;
    display: block;
    width: 300px;
    margin-top: 10px;
    font-family: "SplatRegular";
    text-align: center;
    position: relative;
}
ul {
    font-family: "SplatRegular";
    padding: 0;
    margin: auto;
    display: block;
    width: 300px;
    padding-left: 60px;
}
p {
    font-family: "SplatRegular";
    padding: 0;
    margin: auto;
    display: block;
    max-width: 300px;
    text-align: center;
}
#share, #retry {
    font-family: "SplatRegular";
    padding: 0;
    margin: auto;
    display: block;
    width: 100px;
    margin-top:10px;
    border: none;
    background: #1ae1b3;
}

#modeselect {
    position:absolute;
    width:305px;
    margin:auto;
    top:122px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: blueviolet;
    height:500px;
}

#modeselect h3 {
    color: white;
    font-weight: normal;
}

#modeselect ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

#modeselect ul button {
    padding: 4px 6px;
    background-color: orange;
    color: black;
    font-family: "SplatRegular";
    font-size: 14px;
    border: none;
    margin-top: 40px;
    width: 150px;
}